#navbar {
  font-size: large;
  width: 95vw;
  position: absolute;
  top: 0;
  overflow: hidden;
  background-color: #00000000;
  z-index: 10;
  padding-right: calc(100vw - width);
}

/* Navbar links */
#navbar a {
  
  float: right;
  display: block;
  color: var(--body-text-color);
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

#navbar a:hover {
  color: firebrick;
}

#navbar a:nth-child(1) {
  color: chocolate;
}