
.growth-bar {
  padding: .25rem;
  width: 100%;
  background-color: var(--object-border-color);
}
.growth-bar-indicator {
  position: absolute;
  height: 1.5rem;
  width: 1.5rem;
  background-color: rgb(59, 59, 7);
  left: 0;
  transition: 1s ease;
  border-radius: .1rem;
}

.viewed #first-bar .growth-bar-indicator {
  left: calc(100% - 1.5rem);
  background-color: gold;

}

.viewed #second-bar .growth-bar-indicator {
  transition-delay: 1.2s;
  left: calc(100% - 1.5rem);
  background-color: gold;
}

.viewed #third-bar .growth-bar-indicator {
  transition-delay: 2.4s;
  left: calc(100% - 1.5rem);
  background-color: gold;
}

/* #region growth bar number animation */
/*
@property --num {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

.changing-number {
  --num: var(--start, 0);
  transition: --num 1s ease-in-out var(--delay, 0s);
  counter-set: num var(--num);
}
.changing-number::before {
  content: counter(num);
}

.viewed .changing-number { 
  --num: var(--target, 100);
}
*/

@property --my-num {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

@property --my-num-temp {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

.changing-number {
  --my-num: var(--start, 0);
  transition: --my-num 1s ease-in-out var(--delay, 0s);
  --my-num-temp: max(var(--my-num), 0);
  counter-set: my-num var(--my-num-temp);
}

.changing-number::before {
  content: counter(my-num);
}

.viewed .changing-number { 
  --my-num: var(--target, 100);
}



@property --percent {
  syntax: "<number>";
  initial-value: 0;
  inherits: false;
}
@property --temp {
  syntax: "<number>";
  initial-value: 0;
  inherits: false;
}
@property --v1 {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}
@property --v2 {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

.changing-number-percent {
  --percent: var(--start, 0);
  /*font: monospace;*/
  transition: --percent 1s ease-in-out var(--delay, 0s);
  --temp: calc(var(--percent));
  --v1: max(var(--temp) - 0.5, 0);
  --v2: max((var(--temp) - var(--v1)) * 100, 0);
  /*--v2: max((var(--temp) - var(--v1)) * 100  - 0.5, 0);*/
  counter-reset: v1 var(--v1) v2 var(--v2);
}
.changing-number-percent::before {
  content: counter(v1) "." counter(v2, decimal-leading-zero) "%";
}

.viewed .changing-number-percent { 
  --percent: var(--target, 1);
}