@use 'results';
@use 'navbar';
@use 'herolanding';

/* Variables */
:root {
    --body-text-color: #f9f9f9;
    --body-background-color: #143571;
    --object-border-color: #2d75f6;
    --focus-color: gold;
    --default-font-family: 'Lucida Console', monospace;


}

/* Adjusting the button hover state manually since it's not a variable */
.btn-primary {
  --bs-btn-bg: var(--object-border-color);
  --bs-btn-border-color: var(--object-border-color);
  --bs-btn-hover-bg: var(--body-background-color); 
}

/* Remove icon */
.accordion-button::after {
    display: none !important;
}

.navbar-absolute {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
}


.accordion {
    /* colors for interior when open */
    --bs-accordion-bg: var(--body-background-color); 
    --bs-accordion-border-color: var(--body-text-color); 
    --bs-accordion-color: var(--body-text-color);

    /* Top segment when open */
    --bs-accordion-active-bg: var(--body-background-color); 
    --bs-accordion-active-color: var(--body-text-color);
    
    /*colors when closed */
    --bs-accordion-btn-bg: var(--body-background-color);
    --bs-accordion-btn-color: var(--body-text-color); 
    
    
}

/* Optional: Remove the blue glow/outline on click */
.accordion-button:focus {
    box-shadow: none;
    border-color: var(--body-text-color);
}

.focus-text {
    color: var(--focus-color);
}

.section-container {
    margin: 8rem 0rem;
}



/* #region Default HTML Elements */
body {
  font-family: var(--default-font-family); 
  line-height: 1.6; 
  margin: 0;
  padding: 0;
  background-color: var(--body-background-color); 
}

p,h1 {
  color: var(--body-text-color);
  /*margin: .5rem 1rem 0rem 1rem; 
  padding: .5rem;*/
}

h2, h3, h4, h5, h6 {
  color: var(--body-text-color);
}

li {
  color: var(--body-text-color);
  margin: 0rem 1rem;
}

ul, ol {
  margin: 0 0 1rem 1rem; 
  padding: 0;
}

a {
  color: #0066cc; 
  text-decoration: none; 
}

a:hover {
  text-decoration: underline; 
}

a.no-underline {
  text-decoration: none;
  border: none;
  color: inherit;
}

/* #endregion */

/* #region Section Dividers */
.section {
    text-align: center;
    margin: 7% 5rem 7% 5rem;
}

.section.text {
    background-color: var(--object-border-color);
    border-radius: 50px;
}
/* #endregion */






/* #region Grouped Images */
.image-group {
  /*display: inline-block;
  /*flex-wrap: wrap;*/
  text-align: center;
  padding: 0 .1vw;
  
}

/* #region Figure elements */
figcaption {
    color: var(--body-text-color)
}

.grid-figure{
    display: inline-block;
    width: 20rem;
    /*height: 15vw;*/
    margin: auto;
    padding: 1vw;
}


.grid-image {
    width: 15vw;
    height: 15vw;
    margin: auto;
    padding: 1vw;
    border-radius: 30px;

}
/* #endregion */

/* #region tutoring services images */

.service-overview-grid-image {
  filter: brightness(60%);
  overflow: hidden;
  background: none;

}

  /* #region Service overview images */
.services-overview-grid .col:nth-child(1) .service-overview-grid-image {
  background: url(../images/Tutoring-Image-Placeholder.jpg);
  background-size: cover;
  background-position: center;
}

.services-overview-grid .col:nth-child(2) .service-overview-grid-image {
  background: url(../images/test-prep-placeholder.jpeg);
  background-size: cover;
  background-position: center;
}

.services-overview-grid .col:nth-child(3) .service-overview-grid-image {
  background: url(../images/essay-writing-placeholder.jpg);
    background-size: cover;
  background-position: center;
}

.services-overview-grid .col:nth-child(4) .service-overview-grid-image {
  background: url(../images/homework-help-placeholder.jpg);
    background-size: cover;
  background-position: center;
}

.services-overview-grid .col:nth-child(5) .service-overview-grid-image {
  background: url(../images/interview-prep-placeholder.jpg);
    background-size: cover;
  background-position: center;
}



/* #endregion */
  .square-image-holder:hover .square-image-title-text {
    opacity: 0;
    top: 10%;
    left: 20%;
    transform: translate(-20%, -20%);
  }

  .square-image-holder:hover .square-image-body-text {
    opacity: 1;
    top: 50%;
  }

  .square-image-holder:hover .service-overview-grid-image {
    filter: brightness(70%);
  }




.square-image-title-text {
  color: var(--body-text-color);
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease;
}

.square-image-body-text {
  color: var(--body-text-color);
  text-align: center;
  padding: 0;
  margin: 0;
  width: 80%;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.5s ease;
}



/* #endregion */

/* #region vertical Tutoring Images */


.vertical-tutoring-image {
  filter: brightness(60%);
  overflow: hidden;
  background: none;
}

.vertical-image-holder:hover .vertical-image-title-text {
  top: 10%;
  left: 20%;
  transform: translate(-20%, -20%);
}

.vertical-image-holder:hover .vertical-image-body-text {
  opacity: 1;
}

  /* #region Individual vertical Tutoring Images */

.who-we-help .col:nth-child(1) .vertical-tutoring-image {
  background: url(../images/Elem-Tutoring-Placeholder.jpg);
  background-size: cover;
  background-position: center;
}

.who-we-help .col:nth-child(2) .vertical-tutoring-image {
  background: url(../images/Middle-Tutoring-Placeholder.webp);
  background-size: cover;
  background-position: center;
}

.who-we-help .col:nth-child(3) .vertical-tutoring-image {
  background: url(../images/High-Tutoring-Placeholder.jpg);
  background-size: cover;
  background-position: center;
}

.who-we-help .col:nth-child(4) .vertical-tutoring-image {
  background: url(../images/College-Tutoring-Placeholder.jpeg);
  background-size: cover;
  background-position: center;
}



/* #endregion */

.vertical-image-holder:hover .vertical-tutoring-image {
  filter: brightness(70%);
}


.ratio-golden {
  --bs-aspect-ratio: 161%;
}

.vertical-image-title-text {
  color: var(--body-text-color);
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease;
}

.vertical-image-body-text {
  color: var(--body-text-color);
  text-align: center;
  padding: 0;
  margin: 0;
  width: 80%;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.5s ease;
}


/* #endregion */

/* #region Expanding Images */
/*.expanding-box-container {
  display: flex;  
  align-items: center;
  justify-content: space-evenly;
  width: 90vw;
}*/

.expanding-image {
  /*darkening these images is a bit harder https://stackoverflow.com/questions/20039765/how-to-apply-a-css-filter-to-a-background-image */
  height: 30rem;
  width: 100%;

  position: relative;
  align-items: center;
  transition: width 0.5s;
  /*flex-shrink: 1;*/
  flex: 1 1 0;
  text-align: center;
  transition: all 0.5s ease;
}

.expanding-image-background {
  height: 100%;
  width: 100%;
  background: url(../images/test-prep-specific-test-placeholder.jpeg);
  background-size: cover;
  background-position: center;

}
/* use nth child to set specific images later */
/*.expanding-image-background:nth-child(1) {
  border-radius: 15px 0px 0px 15px;
}

.expanding-image-background:nth-child(2) {
  background: url(../images/test-prep-specific-test-placeholder.jpeg);
  background-size: cover;
  background-position: center;
  position: relative;
}

.expanding-image-background:nth-child(5) {
  border-radius: 0px 15px 15px 0px;
}*/

.expanding-image-text {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.expanding-image-text h3 p {
  color: var(--body-text-color);
  text-align: center;
}

.expanding-image-text p {
  opacity: 0;
}

.expanding-image:hover {
  flex: 7 1 0;
}

.expanding-image:hover .expanding-image-text h3 {
  opacity: 0;
}

.expanding-image:hover .expanding-image-text p {
    transition-delay: 0.3s;

  opacity: 1;
}
/* #endregion */

/* #endregion */

/* #region Results Sliders */



/* #endregion */


/* #endregion */


/* #region Footer */
.footer-link {
  display: inline-block;
}
/* #endregion */



/*
* {
  outline: 1px solid red !important;
}
/**/